include head
include blog-nav
body

  div.row

    div.twelve.columns
      header
        h1.subheader about xoxomoon

  div.row

    div.four.columns
      p We're the Moon family: <br />
        a(href="http://joe.xoxomoon.com") joe
        , 
        a(href="http://beverlymoon.com") bev
        , & 
        a(href="http://zeke.xoxomoon.com") zeke
        .

    div.four.columns
      include portland

    div.four.columns
      include website
