include head
include blog-nav
body

  div.row

    div.twelve.columns
      header
        h1.subheader about xoxomoon

  div.row

    div.four.columns
      p We're the Moon family:
      ul
        li
          a(href="http://joe.xoxomoon.com") joe
          ,
        li
          a(href="http://beverlymoon.com") bev
          , &
        li
          a(href="http://zekexoxomoon.com") zeke

    div.four.columns
      include portland

    div.four.columns
      include website
