div.fixed.contain-to-grid
  nav.top-bar
    ul
      li.name
        h1
          a(href="/") xoxomoon
      li.toggle-top-bar
        a(href="#")
    section
      ul.right
        li
         a(href="/archive") archive
        li
          a(href="http://joe.xoxomoon.com") joe
        li
          a(href="http://beverlymoon.com") bev
        li
          a(href="http://zeke.xoxomoon.com") zeke
        li
          a(href="/about") about
