div.fixed.contain-to-grid
  nav.top-bar
    ul
      li.name
        h1
          a(href="/") xoxomoon
      li.toggle-top-bar
        a(href="#")
    section
      ul.right
        li
         a archive
        li
          a joe
        li
          a bev
        li
          a zeke
