include head
div.row
  div.three.columns.centered
    h3
      a(href="http://joe.xoxomoon.com") joe
      +
      a(href="http://beverlymoon.com") bev
      +
      a(href="http://zeke.xoxomoon.com") zeke
    h1 xoxomoon
