footer
  div.row
    section.three.columns
      ul
        li
          h5
            a(href="/") xoxomoon
        li
          a(href="/archive") archive
        li
          a(href="http://byjoemoon.com") joe
        li
          a(href="http://beverlymoon.com") bev
        li
          a(href="http://zeke.xoxomoon.com") zeke
    
    section.nine.columns
      h5 about
      div.row
        div.six.columns
          p We're the Moon family.
          include portland
        div.six.columns
          include website
