doctype 5

html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title XOXOMOON
    link(rel="stylesheet", href="/css/app.css")
    link(rel="icon", type="image/png", href="http://byjoemoon.com/img/byjoemoon.png")
    script(src="/js/foundation/modernizr.foundation.js")

  body
