doctype 5

html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    if(post)
      title xoxomoon - #{post.title}
    else
      title xoxomoon
    link(rel="stylesheet", href="/css/app.css")
    link(rel="icon", type="image/png", href="/assets/blackpolkadot.png")

  body
