include head

body.index
  div
    div.row
      div.twelve.columns
        h1 xoxomoon
    div.row
      div.four.columns
        p We're the Moon family:
        ul
          li
            a(href="http://byjoemoon.com") joe
          li
            a(href="http://beverlymoon.com") bev
            , &
          li
            a(href="http://zeke.xoxomoon.com") zeke
      div.four.columns
        p
          | We live in Portland, Oregon. 
      div.four.columns
        p
          | You can follow us on our 
          a(href="/blog") blog
          .
