include head
include blog-nav
div.row
  div.twelve.columns
    div.card
      header.title
        h3.subheader Blog Post Title
        h1.subheader November 18, 2012
      a(href="/img/DSC_4711.jpg")
        img(src="/img/DSC_4711.jpg")
      p I'm learning some stuff: Foundation and SASS.
      a(href="/img/DSC_4911.jpg")
        img(src="/img/DSC_4911.jpg")
      p This is a photo of an umbrella. 
